# AnalyticsToolkit: binary classification example

In [15]:
import pandas as pd
import pickle as pk

In [16]:
import sys
sys.path.append(r'C:\Users\jb2428\Desktop\python\AnalyticsToolkit\analyticstk')
import analyticstk as atk

## Create reference standard

### Read main data set

There is just one data file in this analysis; 
see aggregate_tables_ex.py for multiple files 
and more on data preprocessing.

In [17]:
f_main = r'data.csv' 
df = pd.read_csv(f_main)
df.head(n=3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,OUTCOME
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1

### Print codebook

In [18]:
f_codebook = r'codebook.xlsx'    
pd.read_excel(f_codebook)

,Variable Name,File,"Mapping (u=continuous, b=binary, g=categorical)",Predictor,Description,Data Dictionary Document
0,age,data.csv,u,1.0,NaN,NaN
1,sex,data.csv,b,NaN,NaN,NaN
2,cp,data.csv,g,1.0,chest pain type,NaN
3,trestbps,data.csv,u,1.0,resting blood pressure,NaN
4,chol,data.csv,u,1.0,NaN,NaN
5,fbs,data.csv,b,NaN,NaN,NaN
6,restecg,data.csv,g,NaN,NaN,NaN
7,thalach,data.csv,u,1.0,NaN,NaN
8,exang,data.csv,b,1.0,NaN,NaN
9,oldpeak,data.csv,u,1.0,NaN,NaN
10,slope,data.csv,g,1.0,NaN,NaN
11,ca,data.csv,u,NaN,NaN,NaN
12,thal,data.csv,g,NaN,NaN,NaN
13,OUTCOME,data.csv,b,NaN,diagnosis of heart disease (angiographic disea...,NaN

### Get transformation rules

In [19]:
include_cols, tr = atk.get_transformation_rules(f_codebook) 
X = df.loc[:,include_cols]
y = df.loc[:,'OUTCOME'] > 0

In [20]:
print(X.head(n=3))
print(y.head(n=3))

    age   cp  trestbps   chol  thalach  exang  oldpeak  slope
0  63.0  1.0     145.0  233.0    150.0    0.0      2.3    3.0
1  67.0  4.0     160.0  286.0    108.0    1.0      1.5    2.0
2  67.0  4.0     120.0  229.0    129.0    1.0      2.6    2.0
0    False
1     True
2     True
Name: OUTCOME, dtype: bool

### Other preprocessing

In [21]:
# REMOVE FREQUENTLY MISSING
# X.dropna(thresh=len(X) * 0.6, inplace=True, axis=1)  # filter out columns with more than 40% missing

### Train-Test Split

Use stratified splitting on outcome

In [22]:
from sklearn.model_selection import train_test_split
train_size = 0.25 # proportion of training samples
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    train_size=train_size, 
                                                    stratify=y, 
                                                    random_state=1)

### Write reference standard

In [23]:
project_reference_standard_file = 'atk_checkpoints//project_train_test_split.data'
pk.dump((X_train, X_test, y_train, y_test, tr), open(project_reference_standard_file, 'wb'))

### Generate summary of reference standard

In [24]:
print('Train count:\n', y_train.value_counts())
print('Test count:\n', y_test.value_counts())
# generate_file_summary(X_train.reset_index(),'project_train_set.xlsx')   # see aggregate_tables.py

Train count:
 False    41
True     34
Name: OUTCOME, dtype: int64
Test count:
 False    123
True     105
Name: OUTCOME, dtype: int64

## Define Meta Models

In [25]:
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
# XGBoost
# DeepNets
             
metamodels = [
             {'id': 'SGDClassifier',
               'model': SGDClassifier,
               'hyperparameters': {     
                     'loss' : ['log'],
                     'penalty' : ['elasticnet'],                                   
                     'alpha' : [1e-2, 1e-1, 1, 1e1, 1e2],
                     'l1_ratio' : [0.25, 0.5, 0.75],
                     'class_weight': ['balanced']}
                     },
             {'id': 'Random Forest',
               'model': RandomForestClassifier,
               'hyperparameters': {  
                     'n_estimators' : [10, 100],
                     'criterion': ['gini', 'entropy'],
                     'class_weight': [None, 'balanced'],
                     'max_depth': [None, 5] }
                     }     
             ]

## Optimize Hyperparameters

In [26]:
atk.metamodels_cross_validate(X_train, 
                              y_train, 
                              transformation_rules=tr, 
                              metamodels=metamodels, 
                              kfolds=5, 
                              f_validate='atk_checkpoints//metamodels_cross_validate_results.data',
                              verbose=True)

Training SGDClassifier --------------------
Fold  0...............1...............2...............3...............4...............
    auc_mean  auc_percentile_50   auc_std
6   0.500000           0.500000  0.000000
7   0.500000           0.500000  0.000000
8   0.500000           0.500000  0.000000
9   0.500000           0.500000  0.000000
10  0.500000           0.500000  0.000000
11  0.500000           0.500000  0.000000
12  0.500000           0.500000  0.000000
13  0.500000           0.500000  0.000000
14  0.500000           0.500000  0.000000
1   0.784325           0.821429  0.131423
0   0.802381           0.767857  0.111638
2   0.809524           0.839286  0.110127
5   0.828175           0.839286  0.121279
4   0.832540           0.841270  0.113866
3   0.832937           0.821429  0.096816
Best: {'penalty': 'elasticnet', 'loss': 'log', 'alpha': 0.1, 'l1_ratio': 0.25, 'class_weight': 'balanced'}
      auc_mean             0.832937
auc_percentile_50    0.821429
auc_std              0.096816
Name: 3, dtype: float64
Training Random Forest --------------------
Fold  0................1................2................3................4................
    auc_mean  auc_percentile_50   auc_std
12  0.737897           0.698413  0.142701
6   0.767659           0.722222  0.116901
4   0.778075           0.776786  0.143651
0   0.779365           0.723214  0.114411
2   0.786409           0.767857  0.108820
7   0.800099           0.769841  0.100425
11  0.805159           0.793651  0.104512
5   0.810714           0.776786  0.096395
13  0.819048           0.785714  0.093253
3   0.825397           0.803571  0.095494
1   0.825794           0.812500  0.093559
9   0.828373           0.803571  0.083187
10  0.829563           0.785714  0.070296
15  0.832143           0.785714  0.092857
14  0.841468           0.821429  0.086081
8   0.844048           0.857143  0.137106
Best: {'max_depth': 5, 'criterion': 'gini', 'class_weight': None, 'n_estimators': 10}
      auc_mean             0.844048
auc_percentile_50    0.857143
auc_std              0.137106
Name: 8, dtype: float64

## Evaluate Optimal Models on Test Set

In [27]:
atk.fit_optimal_model_to_training_data(X_train, 
                                       y_train, 
                                       X_test, 
                                       y_test, 
                                       f_validate='atk_checkpoints//metamodels_cross_validate_results.data', 
                                       f_fit_models='atk_checkpoints//fit_models.data')

Testing SGDClassifier --------------------
Hyperparameters:
    penalty : elasticnet
    loss : log
    alpha : 0.1
    l1_ratio : 0.25
    class_weight : balanced
>> AUC: 0.849
Testing Random Forest --------------------
Hyperparameters:
    max_depth : 5
    criterion : gini
    class_weight : None
    n_estimators : 10
>> AUC: 0.825

## Write evaluation summaries

In [28]:
atk.summarize_test_results(X_test, 
                           y_test, 
                           f_validate='atk_checkpoints//metamodels_cross_validate_results.data', 
                           f_fit_models='atk_checkpoints//fit_models.data')

Testing SGDClassifier --------------------
Hyperparameters:
    penalty : elasticnet
    loss : log
    alpha : 0.1
    l1_ratio : 0.25
    class_weight : balanced
>> AUC: 0.849
Testing Random Forest --------------------
Hyperparameters:
    max_depth : 5
    criterion : gini
    class_weight : None
    n_estimators : 10
>> AUC: 0.825